.chest{
  display: inline-flex;
  object-fit: contain;
  margin-right: 1%;
}
.chest strong{
  margin-top: auto;
  margin-bottom: 2%;
}
.chest img{
    
  width: 4vw;
  height: 4vw;
    
  min-width: 32px;
  min-height: 32px;
}