.chest{
  display: inline-flex;
  object-fit: contain;
}
.chest strong{
  margin-top: auto;
  margin-bottom: 2%;
}
.chest img{
    
  width: 3.5vw;
  height: 3.5vw;
    
  min-width: 2vw;
  min-height: 2vw;
}