.backgroundImage
{
    background-image: url("../assets/KeyArt_Season_010.png");
    background-size: 100% auto;
    background-position-x: center;
    background-position-y: center;
    background-repeat:no-repeat;
    min-height: 240px;
}

.greeting{
    color:#fffcfc;
    -webkit-text-stroke: .25px black;
}
.chestCollection{
    
    background-color: rgb(26, 39, 63);
    opacity: .7;
    color:#fffcfc;
    -webkit-text-stroke: .25px black;
}
