.form-signin {
  text-align: center;
  background-color:'#d3d3d3';
  max-width: max-content;
  min-width: 62vw;
}
.form-signin .checkbox {
  font-weight: 400;
}
.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
    font-size: 16px;
    background-color:'#d3d3d3';
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.home-search{
  text-align: center;
  flex-direction: row;
  width: auto;
  padding: 1%;
  background-color:#f5f5f5;
} 